<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kidssaveocean.fatechanger">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MainApplication"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_fatechanger"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".onboarding.userIdentification.IntroductionVideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bottomNavigation.BottomNavigationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".onboarding.userIdentification.UserIdentificationActivity" />

        <activity android:name=".policy.PolicyHomeActivity"/>

        <activity android:name=".policy.PolicyStepsActivity"/>

        <activity android:name=".policy.PolicyImpactActivity"/>

        <activity android:name=".policy.PolicyVoteActivity"/>

        <activity android:name=".policy.PolicyControlCenterActivity"/>

        <activity android:name=".WebViewActivity"/>

        <activity android:name=".policy.TrackCampaignActivity"/>

        <activity android:name=".policy.PolicyVideoActivity"/>

        <activity android:name=".splashScreen.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dashboard.DashBoardVideoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>